@font-face 
  font-family: 'icomoon'
  src:url('fonts/icomoon.eot')
  src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),  url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal
  font-style: normal


[data-icon]:before
  font-family: 'icomoon'
  content: attr(data-icon)
  speak: none
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased

.icon-facebook, .icon-twitter, .icon-linkedin
  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  text-decoration none
  text-shadow 0 1px 0
  line-height: 1
  -webkit-font-smoothing: antialiased
  font-size 1.6em
  color #121212
  transition all 0.6s ease

.icon-facebook:hover
  color #00f

.icon-twitter:hover
  color #0cf

.icon-linkedin:hover
  color #36F

.icon-facebook:before
  content: "\e000"

.icon-twitter:before
  content: "\e001"

.icon-linkedin:before
  content: "\e002"

