@media screen and (max-width:950px)
	.perfil, #conocimientos, #contacto
		width 90%
		display block
		border 0
		padding 5px
		margin 0 auto

	h2
		width 92% 

	#conocimientos h3
		display inline-block

	#socialm, #formulario
		width 40%
		border-radius 0

	figure
		width 43%

@media screen and (max-width:800px)
	#formulario, #socialm
		width 90%
		display block
		border 0
		padding 5px
		margin 0 auto

	figure
		width 43%

@media screen and (max-width:620px)
	#acercade, .perfil, #conocimientos, h2, #minicontacto, #portafolio, #contacto, #formulario, #socialm
		width 98%

	h1, nav
		display block
		width 100%

	nav ul li
		height auto

	#acercade
		padding 80px 0 5px 0
		text-alig center

	.perfil .avatar, .perfil p
		display block

	.perfil p
		width 90%
		margin 0 auto

	.perfil .avatar
		background-color #bbb
		margin 0 auto
		border 1px solid #060

	figure
		width 42%

	figure img
		width 96%


	
