article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{background:#fff;color:#000;font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em;margin:.67em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
pre{white-space:pre-wrap}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}
@font-face{font-family:'icomoon';src:url("fonts/icomoon.eot");src:url("fonts/icomoon.eot?#iefix") format('embedded-opentype'),url("fonts/icomoon.woff") format('woff'),url("fonts/icomoon.ttf") format('truetype'),url("fonts/icomoon.svg#icomoon") format('svg');font-weight:normal;font-style:normal}
[data-icon]:before{font-family:'icomoon';content:attr(data-icon);speak:none;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased}
.icon-facebook,.icon-twitter,.icon-linkedin{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;text-decoration:none;text-shadow:0 1px 0;line-height:1;-webkit-font-smoothing:antialiased;font-size:1.6em;color:#121212;transition:all .6s ease}
.icon-facebook:hover{color:#00f}
.icon-twitter:hover{color:#0cf}
.icon-linkedin:hover{color:#36f}
.icon-facebook:before{content:"\e000"}
.icon-twitter:before{content:"\e001"}
.icon-linkedin:before{content:"\e002"}
@charset "utf-8";
*{margin:0;padding:0}
html{text-align:center;padding:0;margin:0;background-color:#121212}
body{margin:0 auto;background-image:url("img/pattern3.png");background-color:rgba(60,60,60,0.5);font-size:16px;padding:0;text-align:center;font-family:'Merriweather Sans',sans-serif}
h1{font-family:'Righteous',cursive;font-size:2.2em;color:rgba(0,0,0,0.8)}
h2{text-shadow:0 1px 0;padding:10px auto;margin:5px auto;font-size:2em;font-family:'Righteous',cursive;color:rgba(205,0,47,0.8);width:100%;text-align:left}
h3{margin:10px auto}
header{width:100%;position:fixed;top:0;margin:0 auto;padding:0;box-shadow:0 0 10px 2px}
header #top{width:100%;background-color:#121212;display:block;padding:0;margin:0;border-bottom:5px solid rgba(205,0,47,0.8)}
.logo{text-shadow:0 1px 0 #eee;display:inline-block;vertical-align:top;width:48%;margin:0;padding:0;transition:all 1s ease;cursor:pointer}
.logo:hover{color:#cd002f}
nav{width:48%;display:inline-block;vertical-align:top;margin:0;padding:0}
nav ul{padding:0;margin:0;list-style:none}
nav ul li{display:inline-block;background-color:#333;text-align:center;text-decoration:none;height:50px;transition:all 1s ease;box-shadow:0 0 3px 0;margin:5px auto;padding-top:10px;background-color:rgba(205,0,47,0.4)}
nav ul li:hover{background-color:#cd002f}
nav ul li a{text-decoration:none;color:#fff;display:block;height:100%;text-align:center;padding:5px}
section{width:90%;margin:10px auto;padding:5px 0;text-align:center}
.banner{width:90%;height:100%;margin:0 auto}
.banner img{width:100%;border-bottom-left-radius:10px;border-bottom-right-radius:10px}
#info{width:100%}
.perfil{width:50%;display:inline-block;vertical-align:top;margin:10px auto;padding:5px 2px;background-color:rgba(205,0,47,0.6);border-top-left-radius:2px;border-bottom-left-radius:2px;box-shadow:-1px 0 5px 1px}
.perfil a{color:#aaa}
.perfil .avatar{width:20%;padding:0;margin:5px;display:inline-block;vertical-align:top;box-shadow:0 0 2px 1px;border-radius:5px}
.perfil p{width:70%;padding:5px 2px;margin:0;text-align:LEFTy;display:inline-block;vertical-align:top;color:#010101;font-size:1.2em}
.perfil .avatar img{width:100%;padding:0}
#acercade{padding-top:70px}
#conocimientos{width:30%;display:inline-block;vertical-align:top;margin:10px auto 10px 5px;padding:5px 10px;background-color:rgba(255,255,255,0.5);border:5px solid #ababab;border-top-right-radius:2px;border-bottom-right-radius:2px;box-shadow:1px 0 5px 1px;text-align:left}
#conocimientos ul li{display:inline-block;vertical-align:top;margin:5px auto}
.marcado1{background-color:#ddd;display:block;transition:all .6s ease}
.marcado1:hover{background-color:#409f89;cursor:pointer}
.marcado2{background-color:#aaa;display:block;border-radius:2px;padding:2px;transition:all .6s ease}
.marcado2:hover{background-color:#409f89;cursor:pointer}
#conocimientos ol li{list-style-type:square;padding:0;margin:5px auto;list-style-position:inside}
#conocimientos ul li img{border-radius:5px}
#minicontacto{width:100%;text-align:center;padding:5px auto;margin:10px auto;display:block;font-size:1em;background-color:#ccc;bottom:0}
#portafolio{padding:10px 0 5px 0;color:#4d003c}
figure{width:35%;margin:10px 5px;padding:0;display:inline-block;vertical-align:top;background-color:rgba(205,0,47,0.6);border-radius:5px;trasition:all 1s ease;box-shadow:0 0 3px 2px}
figure img{width:90%;padding-top:5px}
figure:hover{background-color:rgba(205,0,47,0.4)}
figure{trasition:all 1s ease}
figure a{color:#09f}
figure a:hover{transform:rotate -180deg;color:#0cf}
#formulario{width:45%;background-color:#1a99aa;text-align:center;padding:1em;vertical-align:top;display:inline-block}
#formulario p{width:100%;font-size:1.5em;margin:.5em}
.inputemail,.inputname,.inputmensaje{width:85%;border-radius:5px}
.boton{width:85%;height:60px;padding:0;margin:0;border-radius:5px;background-color:#ffa240;color:#343434;transition:all .5 ease}
.boton:hover{background-color:#ffbb73}
#formulario,#socialm{border-bottom-left-radius:5px;border-bottom-right-radius:5px}
#socialm{width:45%;background-color:#1a99aa;text-align:center;padding:1em;vertical-align:top;display:inline-block}
#socialm a{font-size:2em}
footer{width:90%;height:100px;margin:0 auto 50px auto}
@media screen and (max-width:950px){.perfil,#conocimientos,#contacto{width:90%;display:block;border:0;padding:5px;margin:0 auto}
h2{width:92%}
#conocimientos h3{display:inline-block}
#socialm,#formulario{width:40%;border-radius:0}
figure{width:43%}
}@media screen and (max-width:800px){#formulario,#socialm{width:90%;display:block;border:0;padding:5px;margin:0 auto}
figure{width:43%}
}@media screen and (max-width:620px){#acercade,.perfil,#conocimientos,h2,#minicontacto,#portafolio,#contacto,#formulario,#socialm{width:98%}
h1,nav{display:block;width:100%}
nav ul li{height:auto}
#acercade{padding:80px 0 5px 0;text-alig:center}
.perfil .avatar,.perfil p{display:block}
.perfil p{width:90%;margin:0 auto}
.perfil .avatar{background-color:#bbb;margin:0 auto;border:1px solid #060}
figure{width:42%}
figure img{width:96%}
}