@charset "utf-8";
html{background-color:#000}
body{background:url("imagenes/cacique.jpg") no-repeat center center fixed;background-color:#f30;background-size:100%;font-family:"Trebuchet MS";font-size:16px;margin:0 auto;padding:0;text-align:center}
h1{margin:0 auto;padding:15px;color:#ffdd7b;font-size:22px;background-color:#b4ab12;display:block;font-weight:600;border-bottom-left-radius:.5em;border-bottom-right-radius:.5em}
h2{margin:0 auto;padding:20px 35px;color:#9c0;font-size:20px;font-weight:400}
h3{margin:0 auto;padding:5px;color:#f60;font-size:1.1em;font-weight:400}
h1,h2,h3,dl{text-align:left}
footer,header,section{max-width:1200px}
section{margin:0 auto;width:95%;background:rgba(255,125,0,0.9);box-shadow:0 0 10px 2px;padding:0}
section .insection{width:100%;padding:0;margin:0;}
section .insection #social-holder{overflow:hidden;width:100%}
section .insection #social-holder span a link{color:#e00;font-size:2.2em}
section .insection #social-hover span a hover{color:#f00}
section .insection #social-hover span a visited{color:#b00}
section .insection .social{display:block;overflow:hidden}
section .insection .social li{display:block;height:32px;float:left}
section .insection .social a{display:block;width:32px;height:32px;color:#c00;font-size:30px}
section .insection .social .li-izq{color:#fff;font-size:18px}
header{width:95%;margin:0 auto;background-color:rgba(128,177,44,0.9);padding:0;display:block;text-align:center}
dl{margin:0 auto;width:800px;padding:10px}
dt{color:#f33;margin:5px auto}
aside,article{display:inline-block;vertical-align:top}
aside{width:30%;margin:0 auto 5px auto;padding:0 5px;background-color:#ace3d9;border-radius:0 0 .5em 0}
aside img{width:90%;padding:5px;margin:0 auto;text-align:center;border-radius:0 0 .5em .5em;background-color:#fc0}
article{width:65%;background-color:#fff;padding:0 5px;border-radius:0 0 .5em .5em}
article p img{width:25%;margin:0 10px 0 auto;display:inline-block;vertical-align:top}
article p{width:90%;margin:0 auto;padding:.5em 1em;text-align:justify;background-color:#fff;font-size:1.2em}
footer{width:95%;background-color:#fc0;background-repeat:repeat-y;padding:0;text-align:center;margin:0 auto;border-radius:0 0 .5em .5em}
footer p{text-align:center}
footer a link{color:#ff0}
table{width:90%;background-color:#cc6;margin:5px auto}
table td{background-color:#c93;padding:2px}
aside .boletin{width:90%;padding:5px;margin:0 auto;text-align:center;border-radius:.5em .5em 0 0;background-color:#fc0}
aside .boletin input{width:90%;margin:0}
#mainContener2{background-color:#fff;width:940px;margin:0 auto;opacity:.9}
aside .boletin .boletin-enviar{width:60%}
article .actividades{background-color:#fff;width:90%;margin:0 auto;padding:2em 1em;text-align:justify;font-size:1.2em}
article .actividades ul{text-decoration:none;margin:0 auto;text-align:center;width:90%;padding:0}
article .actividades ul li{display:inline-block;vertical-align:top;list-style:none;text-align:center;margin:5px 5px;width:25%}
article .actividades ul li img{width:100%;border-radius:0 0 .5em .5em}
article ul li{list-style-type:disc;color:#c30}
#buscador{text-align:center;width:30%}
#buscador .buscador-input{display:inline-block;vertical-align:top;width:60%;margin:0;height:28px;font-size:14px;border-radius:.3em 0 0 .3em;padding:0;border:1px solid #ccc;border-right:0}
#multimedia,.form1{display:inline-block;vertical-align:top}
#multimedia{background-color:#b4ab12;padding:0 5px;width:65%;border-top-left-radius:.5em;box-shadow:0 0 10px 2px rgba(0,0,0,0.7)}
#multimedia img{width:100%;margin:0;padding:0}
.btn-precios{background-color:#09f;display:block;width:80%;margin:5px auto;border-radius:.5em}
.linea{height:1px;color:#9f0;border-top:1px solid #72b733}
.linea2{height:1px;color:#6cf}
.linea-vertical{border-right:2px solid #fc3;padding:0 5px;text-shadow:#960 1px}
.logos{margin:0 auto;width:90%;padding:10px 5px}
.logos img,.logos #buscador{display:inline-block;vertical-align:top}
.logos img{width:60%}
nav{width:100%;padding:0;margin:0}
nav li{list-style:none;float:left}
nav li a:link{display:block;text-decoration:none;border:1px solid;color:#fff;margin:0 5px}
.form1{background-color:#ace3d9;padding:5px;width:30%;box-shadow:0 0 10px 2px rgba(0,0,0,0.7);border-top-right-radius:.5em;text-align:center}
.form1 img{margin:auto}
.form1 .form-hora,.form-visitantes,.form-fecha{border:1px solid #3bb;margin:3px auto;width:100%;text-align:center;font-size:1em;border-radius:.3em;background-color:#0cc;height:2em}
.btn-calendar,.-fecha,.-hora,.-adultos,.-ninos,vertical-align middle{height:1.5em}
.form1 .-fecha{text-align:center;width:60%;margin:0 auto;font-size:1em;border-radius:.3em;background-color:#c2feec;border:1px solid #0e9}
.form1 .-hora{width:60%;background-color:#c2feec;border:1px solid #0e9}
.form1 .-adultos,.-ninos{height:20px;background-color:#c2feec;border:1px solid #0e9}
.form1 .-pago{width:60%;background-color:#39f;height:35px;margin:10px auto;border-radius:.5em;border-color:#0ce;color:#fff}
.form1 .btn-calendar{background-image:url("img/calendario.png");background-repeat:no-repeat;width:24px;border:0;margin-left:5px;padding:0;margin:0}
.fondobtn{display:inline-block;outline:none;cursor:pointer;text-align:center;text-decoration:none;font-size:.8em;padding:.2em 1em;text-shadow:0 1px 1px rgba(0,0,0,0.3);border-radius:.5em;box-shadow:0 1px 2px rgba(0,0,0,0.2);color:#fef4e9;border:solid 1px #da7c0c;background:#f78d1d}
.panes .blocks-thumbs{overflow:hidden;padding-top:30px}
.panes .blocks-thumbs li,display block{overflow:hidden;float:left;width:262px;height:315px;margin:0 0 30px 23px;background:url("../img/shadow-1-3.png") no-repeat 0 150px}
#content .panes .blocks-thumbs li .header{font-size:20px;margin-bottom:20px;text-decoration:none;color:#696969}
.panes .blocks-thumbs li a.thumb{display:block;overflow:hidden;width:262px;height:150px;margin-bottom:20px;background:url("../img/plus-sign.png") no-repeat center center;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px}
.panes .blocks-thumbs li a display block text-decoration none,* Contacto */,.one-column img{-webkit-border-radius:.5em;-moz-border-radius:.5em;border-radius:.5em}
.one-column{width:450px;padding:10px;text-align:centter;margin:0 auto}
#sc-contact-form input,#sc-contact-form textarea,.admin-form input,.admin-form textarea,#contactForm input,#contactForm textarea,#commentform input,#commentform textarea{padding:10px 15px;background:#fff;border:1px solid #ccc;border-radius:5px;border-radius:5px;border-radius:5px;text-align:center}
#contactForm label,input{width:45%;text-align:left;vertical-align:top;display:inline-block}
#sc-contact-form input,width 320px,#sc-contact-form textarea,width 380px,#sc-contact-form #submit,width 76px{margin:21px 0;padding:5px 0}
#sc-contact-form #submithover,background #f1f1f1{color:#606060}
#sc-contact-form label{display:block;font-size:14px;line-height:2.5em;font-weight:light}
#gallery{width:700px;margin:40px auto;padding:10px}
.griz{display:inline-block;outline:none;cursor:pointer;text-align:center;text-decoration:none;font:16px/100% Arial,Helvetica,sans-serif;padding:.7em 1.8em;text-shadow:0 1px 1px rgba(0,0,0,0.3);border-radius:.2em;box-shadow:0 0 3px 1px rgba(0,0,0,0.2);color:#fef4e9;border:solid 1px #da7c0c;background:#f78d1d;background:-webkit-gradient(linear,left top,left bottom,from(#faa30a),to(#f45a20));background:-moz-linear-gradient(top,#faa51a,#f47a20)}
.griz:hover{text-decoration:none;background:#ffab00;background:-webkit-gradient(linear,left top,left bottom,from(#ffab00),to(#ffbf00));background:-webkit-linear-gradient(top,#ffab00,#ffbf00)}
.griz:active{position:relative;top:1px;color:#fff;background:-webkit-gradient(linear,left top,left bottom,from(#ff5300),to(#ff3100));background:-moz-linear-gradient(top,#ff5300,#ff3100)}
.clean-gray:3,background-color #3CF,border 1px solid #ccc,border-left0,border-radius 0 .5em .5em 0,color #FFF,padding 5px 0,width 30%,text-decoration none,margin 0,height 30px,display inline-block,vertical-align top,.clean-gray3:hover,background-color #dddddd,border 1px solid #bbb,border-bottom 1px solid #999,cursor pointer,text-shadow 0 1px 0 #ddd,.clean-gray3:active,border 1px solid #aaa,border-bottom 1px solid #888,box-shadow inset 0 0 5px 2px #aaaaaa,0 1px 0 0 #eeeeee,.btn-precios,background-image -webkit-gradient(linear,left top,left bottom,color-stop(0%,#eeeeee),color-stop(100%,#cccccc)),background-image -webkit-linear-gradient(top,#3C0,#9C0),background-image -moz-linear-gradient(top,background-image -ms-linear-gradient(top,background-image -o-linear-gradient(top,background-image linear-gradient(top,border 1px solid #F90,border-radius 3px,padding 3px 5px,text-align center,text-shadow 0 1px 0 #eee,width 198px,display block,margin 10px auto,.btn-precios:hover,#dddddd),#bbbbbb)),#9C0,#CF0),.btn-precios:active{border:1px solid #aaa;border-bottom:1px solid #888;box-shadow:inset 0 0 5px 2px #aaa}
